body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
hr {
    width: 500px;
}
#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}
#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex; /*keeps the Tiles Within the board*/
    flex-wrap: wrap;/*Allows the creation of new tile lines*/
}
.tile {
    /*Tile Styling*/
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2.5px;/*space between each tile*/
    /*Letter Styling*/
    color: black;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;/*center horizontally*/
    align-items: center;/*center vertically*/
}
.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}
.present {
    background-color: #C4B958;
    color: white;
    border-color: white;
}
.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}